<h2><%= @project.title %></h2>
<div class="row">

  <div class="col-md-9 col-sm-8 col-xs-12">
    <div class="x_panel tile">
      <div class="x_title">
        <!-- LINK TO PROJECT'S DESCRIPTION-->
        <h2>Support My Project</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="project_img">
          <%= image_tag "vaca.jpg" %>
        </div>
        <br>
        <div class="x_title">
          <h3>About the project</h3>
          <div class="clearfix"></div>
        </div>
        <div><%= @project.description %></div>

        <div class="x_title">
          <h3>About the financing</h3>
          <div class="clearfix"></div>
        </div>
        <div><%= @project.financing_description %></div>

        <div class="x_title">
          <h3>About us</h3>
          <div class="clearfix"></div>
        </div>
        <div><%= @project.creators_description %></div>
      </div>
    </div>
  </div>
  <% if current_user %>
      <% if current_user == @project.user %>
          <div class="col-md-3 col-sm-4 col-xs-4">
            <div class="row">
              <div class="x_panel tile">
                <div class="x_title">
                  <h3>Edit Your Project</h3>
                </div>
                <div class="x_content">
                  <div style="text-align: center;">
                    <p style="text-align: center;">Status: <%= @project.status %></p>
                    <%= button_to 'Edit', edit_project_path(id: @project.id), method: :get,
                                  type: "submit", class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
  <div class="col-md-3 col-sm-4 col-xs-4">
    <div class="row">
      <div class="x_panel tile">
        <div class="x_content">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <p style="font-size: 36px; text-align: center; color: green;">XX%</p>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <p style="text-align: center;"><b>$xxx.xxx</b></p>
            <p style="text-align: center;">collected out of</p>
            <p style="text-align: center;"><%= number_to_currency(@project.goal) %></p>
          </div>
          <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ln_solid" style="margin: 10px"></div>
            <p style="text-align: center;">Deadline: <%= (@project.deadline.strftime("%d-%m-%Y")) %></p>
            <div class="ln_solid" style="margin: 10px"></div>
          </div>
          <p style="text-align: center;">
            <button type="submit" class="btn btn-success" style="text-align: center;">Collaborate</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-4">
    <div class="row">
      <div class="x_panel tile">
        <div class="x_title">
          <h3>Contact</h3>
        </div>
        <!-- LINK TO POSTULANTE USER-->
        <div class="x_content">
          <p style="text-align: center;"><%= @project.user.name %></p>
          <p style="text-align: center;">email <%= @project.user.email %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-4">
    <div class="row">
      <div class="x_panel tile">
        <div class="x_title">
          <h3>We offer...</h3>
        </div>
        <div class="x_content">
          <!-- LINK TO CONTERPARTS-->
          <% @project.rewards.each do |reward| %>
              <p style=" color: green;">For <%=number_to_currency(reward.lower_bound)%> to <%=number_to_currency(reward.upper_bound)%>:</p>
              <p><%= reward.name %></p>
              <div class="ln_solid" style="margin: 10px"></div>
          <% end %>
          <p style="text-align: center;">
            <button type="submit" class="btn btn-success" style="text-align: center;">Collaborate</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-sm-8 col-xs-12">

    <div class="x_panel">
      <% if current_user %>
        <div class="x_title">
          <h2>Leave a Comment</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-10 col-sm-10 col-xs-12 form-general">
            <%= form_with(model: Comment.new, url: comment_path(id: @project.id), method: :post) do |f|%>
                <div class="form-group">
                  <div class="control-label col-md-2 col-sm-2 col-xs-12">Message</div>
                  <%= f.text_area :body, class:"form-control",
                                    placeholder:"Leave a comment for the project comunity.", type:"text"  %>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-10">
                  <%= f.submit 'Comment', class:"btn btn-success"%>
                </div>
            <% end %>
          </div>
        </div>
      <% end %>

        <div class="x_content">
          <!-- LINK TO CONTERPARTS-->
          <% @project.comments.each do |comment| %>
              <p style=" color: green;"><%= comment.user.name %>:</p>
              <p><%= comment.body %></p>
              <div class="ln_solid" style="margin: 10px"></div>
          <% end %>
        </div>
      </div>
  </div>
</div>